<div class="main">
  <p id="titulo">Loose in the Sky!</p>
  <img src="../../assets/Los-Edificios-más-famosos-de-Nueva-York.jpg" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate quam ad eveniet laudantium illo quae, omnis ut tenetur obcaecati? Cum alias doloribus repellat voluptate eos dolores reprehenderit expedita laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<app-comments></app-comments>
