<header>
    <mat-toolbar color="basic">
      <span>National Parks</span>
    </mat-toolbar>
</header>
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <div class="contenedor">
        <div class="caja">
          <img class="torres" src="../assets/img/Torres del Paine.png" alt="">
        <p>Torres del Paine, Patagonia</p>
        </div>
        <div class="caja">
          <img class="colorado" src="../assets/img/Colorado-river.jpg" alt="">
          <p>Colorado Canyon River</p>
        </div>
        <div class="caja">
          <img class="masai" src="../assets/img/Serengeti-masai.jpg" alt="">
          <p>Serengeti Masai Mara</p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

<router-outlet></router-outlet>
